# Archivos de compilación
*.class

# Logs
*.log

# Archivos comprimidos
*.zip
*.jar

# Archivos de entorno
*.env

# Se an añadido repositorio y fichereos relacionados con proyectos de intelliJ y vscode

# IDEs
.idea/
.vscode/
.iml/
